{% extends 'account/dashboard.html' %}
{% block dashboard_content %}
    <form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label>رمز عبور فعلی</label>
        {{ form.old_password }}
    </div>
    <div class="form-group">
        <label>رمز عبور جدید</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-group">
        <label>تکرار رمز عبور جدید</label>
        {{ form.new_password2 }}
    </div>
    <button type="submit" class="btn btn-warning">تغییر رمز عبور</button>
</form>

{% endblock %}