{% extends 'account/dashboard.html' %}

{% block dashboard_content %}
  <h2 class="text-2xl font-semibold mb-4">تغییر رمز عبور</h2>

  <div class="card max-w-xl">
    <form method="post" class="space-y-4">
      {% csrf_token %}
      <label class="block text-sm mb-1">رمز قبلی</label>
      {{ form.old_password }}

      <label class="block text-sm mb-1">رمز جدید ۱</label>
      {{ form.new_password1 }}

      <label class="block text-sm mb-1">رمز جدید ۲</label>
      {{ form.new_password2 }}

      <div>
        <button type="submit" class="btn-primary">تغییر رمز</button>
      </div>
    </form>
  </div>
{% endblock %}