{% extends 'account/dashboard.html' %}

{% block dashboard_content %}
  <h2 class="text-2xl font-semibold mb-4">ثبت تراکنش</h2>

  <div class="card">
    <form method="post" class="space-y-4">
      {% csrf_token %}
      {% if form.non_field_errors %}
        <div class="bg-red-600 text-white p-3 rounded">
          {% for err in form.non_field_errors %}
            <div>{{ err }}</div>
          {% endfor %}
        </div>
      {% endif %}

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            <label for="id_amount">مبلغ:</label>
            {{ form.amount }}
            {% for error in form.amount.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label for="id_transaction_type">نوع تراکنش:</label>
            {{ form.transaction_type }}
            {% for error in form.transaction_type.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label for="id_category">دسته‌بندی:</label>
            {{ form.category }}
                     <a href="{% url 'add_category' %}" class="text-sm text-gray-400 mr-4">ساخت دسته بندی جدید</a>
            {% for error in form.category.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label for="id_account">حساب مالی:</label>
            {{ form.account }}
                     <a href="{% url 'add_account' %}" class="text-sm text-gray-400 mr-4">ساخت حساب مالی جدید</a>
            {% for error in form.account.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label for="id_description">توضیحات:</label>
            {{ form.description }}
            {% for error in form.description.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="">
            <label for="id_date">تاریخ تراکنش:</label>
            {{ form.date }}
            {% for error in form.date.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label for="id_receipt">تصویر رسید (اختیاری):</label>
            {{ form.receipt }}
            {% for error in form.receipt.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-check mb-3">
            {{ form.is_confirmed }}
            <label for="id_is_confirmed" class="form-check-label">تأیید شده؟</label>
        </div>

        <button type="submit" class="btn-submit">ثبت تراکنش</button>
         <a href="{% url 'dashboard' %}" class="text-sm text-gray-400 mr-4">بازگشت به گزارش‌ها</a>
    </form>
</div>
</div>
{% endblock %}

